Repository SSAFY-5959-STUDY/Algorithm, pull requests merged in 2023-08, with the labels that each got.

#62 [BOJ]1213. 팰린드롬 만들기
  soomin_kim/BOJ_S1213.java
Labels: SOLVE, BOJ, Essential-Easy

#57 [BOJ] 1213. 팰린드롬 만들기
  임수빈/boj1213.java
Labels: SOLVE, BOJ, Essential-Easy

#61 [BOJ] 1213. 팰린드롬 만들기
  현수연/BOJ1213.java
Labels: SOLVE, BOJ, Essential-Easy

#64 [BOJ] 1213. 팰린드롬 만들기
  황윤정/BOJ1213.java
Labels: SOLVE, BOJ, Essential-Easy

#60 [BOJ] 1213. 팰린드롬 만들기
  박사랑/BOJ11286.java
  박사랑/BOJ1213.java
Labels: SOLVE, BOJ, Essential-Easy

#65 [BOJ] 1213. 팰린드롬 만들기
  BOJ1213
Labels: SOLVE, BOJ, Essential-Easy

#59 [BOJ] 1213. 팰린드롬 만들기
  남동우/BOJ1213.java
Labels: SOLVE, BOJ, Essential-Easy

#68 [BOJ] 2075. N번째 큰 수
  박사랑/BOJ2075.java
Labels: SOLVE, BOJ, Essential-Easy

#73 [BOJ]2075. N번째 큰 수
  soomin_kim/BOJ_S2075.java
Labels: SOLVE, BOJ, Essential-Easy

#76 [BOJ] 2075. N번째 큰 수
  정수빈/BOJ1213.java
  정수빈/BOJ2075.java
Labels: SOLVE, BOJ, Essential-Easy

#70 [BOJ] 2075. N번째 큰 수
  임수빈/boj2075.java
Labels: SOLVE, BOJ, Essential-Easy

#72 [BOJ] 2075. N번째 큰 수
  현수연/BOJ17615.java
  현수연/BOJ2075.java
Labels: SOLVE, BOJ, Essential-Easy

#67 [BOJ] 2075. N번째 큰 수
  남동우/BOJ2075.java
Labels: SOLVE, BOJ, Essential-Easy

#74 [BOJ] 2075. N번째 큰 수
  이수민/BOJ_2075.java
Labels: SOLVE, BOJ, Essential-Easy

#66 [BOJ] 2075. N번째 큰 수
  여아정/bbojj_17615 .java
  여아정/boj_17615.java
  여아정/boj_2075.java
Labels: SOLVE, BOJ, Essential-Easy

#71 [BOJ] 2110. 공유기 설치
  남동우/BOJ2110.java
Labels: Select-Hard, SOLVE, BOJ

#69 [BOJ] 5972. 택배 배송
  남동우/BOJ5972.java
Labels: Select-Hard, SOLVE, BOJ

#77 [BOJ] 17615. 볼 모으기
  박사랑/BOJ17615.java
Labels: SOLVE, BOJ, Essential-Easy

#78 [BOJ]17615. 볼 모으기
  soomin_kim/BOJ_S17615.java
  soomin_kim/BOJ_S2002.java
  soomin_kim/BOJ_S2002_fail.java
Labels: SOLVE, BOJ, Essential-Easy

#92 [BOJ] 2002. 추월
  임수빈/boj2002.java
Labels: SOLVE, BOJ, Essential-Easy

#83 [BOJ] 2002. 추월
  남동우/BOJ2002.java
Labels: SOLVE, BOJ, Essential-Easy

#86 [BOJ] 2022. 추월
  여아정/boj_2002.java
Labels: SOLVE, BOJ, Essential-Easy

#87 [BOJ] 2002. 추월
  현수연/BOJ2002.java
Labels: SOLVE, BOJ, Essential-Easy

#89 [BOJ]2002. 추월
  soomin_kim/BOJ_S2002.java
  soomin_kim/BOJ_S2002_fail.java
Labels: SOLVE, BOJ, Essential-Easy

#91 [BOJ] 2002. 추월
  박사랑/BOJ2002.java
Labels: SOLVE, BOJ, Essential-Easy

#90 [BOJ] 2002. 추월
  BOJ1213
  정수빈/BOJ1213.java
  정수빈/BOJ2002.java
  정수빈/BOJ2784.java
Labels: SOLVE, BOJ, Essential-Easy

#88 [BOJ] 2002. 추월
  황윤정/BOJ2002.java
Labels: SOLVE, BOJ, Essential-Easy

#84 [BOJ] 1011. Fly me to the Alpha Centauri
  남동우/BOJ1011.java
Labels: Select-Hard, SOLVE, BOJ

#93 [BOJ] 8911. 거북이
  임수빈/boj8911.java
Labels: SOLVE, BOJ, Essential-Easy

#94 [BOJ] 9935. 문자열 폭발
  남동우/BOJ9935.java
Labels: Select-Hard, SOLVE, BOJ

#95 [BOJ] 8911. 거북이
  남동우/BOJ8911.java
Labels: SOLVE, BOJ, Essential-Easy

#96 [BOJ] 8911. 거북이
  정수빈/BOJ8911.java
Labels: SOLVE, BOJ, Essential-Easy

#102 [BOJ] 8911. 거북이
  박사랑/BOJ8911.java
Labels: SOLVE, BOJ, Essential-Easy

#97 [BOJ] 8911. 거북이
  이수민/BOJ_8911.java
Labels: SOLVE, BOJ, Essential-Easy

#101 [BOJ] 8911. 거북이
  황윤정/BOJ8911.java
Labels: SOLVE, BOJ, Essential-Easy

#109 [PG] 68645. 삼각 달팽이
  황윤정/PG68645.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#105 [PG] 68645. 삼각 달팽이
  박사랑/PG68645.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#106 [PG] 68645. 삼각 달팽이
  이수민/PG_68645.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#108 [PG]68645. 삼각 달팽이🐌🐌
  soomin_kim/PG_68645.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#110 [PG] 68645. 삼각 달팽이
  현수연/PG68645.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#112 [BOJ] 2468. 안전 영역
  박사랑/BOJ2468.java
Labels: SOLVE, BOJ, Essential-Easy

#115 [BOJ] 2468. 안전 영역
  황윤정/BOJ2468.java
Labels: SOLVE, BOJ, Essential-Easy

#114 [BOJ] 2468. 안전 영역
  임수빈/boj2468.java
Labels: SOLVE, BOJ, Essential-Easy

#116 [BOJ] 2468. 안전 영역
  이수민/BOJ_2468.java
Labels: SOLVE, BOJ, Essential-Easy

#113 [BOJ] 2468. 안전 영역
  여아정/boj_2468.java
Labels: SOLVE, BOJ, Essential-Easy

#118 [BOJ] 2468. 안전 영역
  남동우/BOJ2468.java
Labels: SOLVE, BOJ, Essential-Easy

#119 [BOJ] 2468. 안전 영역
  현수연/BOJ2468.java
Labels: SOLVE, BOJ, Essential-Easy

#123 [BOJ] 11060. 점프 점프
  박사랑/BOJ11060.java
Labels: SOLVE, BOJ, Essential-Easy

#124 [BOJ] 11060. 점프 점프
  여아정/boj_11060.java
Labels: SOLVE, BOJ, Essential-Easy

#122 [BOJ] 11060. 점프 점프
  임수빈/boj11060.java
Labels: SOLVE, BOJ, Essential-Easy

#126 [BOJ] 1080. 행렬
  이수민/BOJ_1080.java
Labels: SOLVE, BOJ, Essential-Easy

#132 [BOJ] 1080. 행렬
  정수빈/BOJ1080.java
Labels: SOLVE, BOJ, Essential-Easy

#121 [BOJ] 1922. 네트워크 연결
  남동우/BOJ1922.java
Labels: Select-Hard, SOLVE, BOJ

#127 [BOJ]1080. 행렬 + 11060 점프 점프 🦘
  soomin_kim/BOJ_S1080.java
  soomin_kim/BOJ_S11060.java
Labels: SOLVE, BOJ, Essential-Easy

#133 [BOJ] 1080. 행렬
  박사랑/BOJ1080.java
Labels: SOLVE, BOJ, Essential-Easy

#129 [BOJ] 1080. 행렬
  임수빈/boj1080.java
Labels: SOLVE, BOJ, Essential-Easy

#128 [BOJ] 1080. 행렬
  여아정/boj_1080.java
Labels: SOLVE, BOJ, Essential-Easy

#125 [BOJ] 1080. 행렬
  현수연/BOJ1080.java
  현수연/BOJ11060.java
Labels: SOLVE, BOJ, Essential-Easy

#131 [BOJ] 1080. 행렬
  남동우/BOJ1080.java
Labels: SOLVE, BOJ, Essential-Easy

#134 [BOJ] 1911. 흙길 보수하기
  정수빈/BOJ1911.java
  정수빈/BOJ5397.java
Labels: SOLVE, BOJ, Essential-Easy

#143 [BOJ] 1911. 흙길 보수하기
  임수빈/boj1911.java
Labels: SOLVE, BOJ, Essential-Easy

#138 [BOJ] 1911. 흙길 보수하기
  남동우/BOJ1911.java
Labels: SOLVE, BOJ, Essential-Easy

#136 [BOJ]1911. 흙길 보수하기
  soomin_kim/BOJ_S1940.java
Labels: SOLVE, BOJ, Essential-Easy

#135 [BOJ] 1911. 흙길 보수하기
  박사랑/BOJ1911.java
Labels: SOLVE, BOJ, Essential-Easy

#139 [BOJ] 1911. 흙길 보수하기
  현수연/BOJ1911.java
Labels: SOLVE, BOJ, Essential-Easy

#142 [BOJ] 1911. 흙길 보수하기
  이수민/BOJ_1911.java
Labels: SOLVE, BOJ, Essential-Easy

#141 [BOJ] 20437. 문자열 게임 2 ( with 소프티어 코테 반성 )
  남동우/BOJ20437.java
Labels: Select-Hard, SOLVE, BOJ

#137 [BOJ] 1911. 흙길 보수하기
  여아정/boj_1911.java
Labels: SOLVE, BOJ, Essential-Easy

#144 [BOJ] 5397. 키로거
  임수빈/boj5397_LinkedList.java
  임수빈/boj5397_ListIterator.java
  임수빈/boj5397_Stack.java
Labels: SOLVE, BOJ, Essential-Easy

#146 [BOJ] 5397. 키로거
  정수빈/BOJ4485.java
Labels: SOLVE, BOJ, Essential-Easy

#152 [BOJ] 5397. 키로거
  박사랑/BOJ5397.java
Labels: SOLVE, BOJ, Essential-Easy

#148 [BOJ] 5397. 키로거
  여아정/boj_5397.java
Labels: SOLVE, BOJ, Essential-Easy

#150 [BOJ] 5397. 키로거
  현수연/BOJ5397.java
Labels: SOLVE, BOJ, Essential-Easy

#145 [BOJ] 5397. 키로거
  남동우/BOJ5397.java
Labels: SOLVE, BOJ, Essential-Easy

#153 [BOJ] 4485. 녹색 옷 입은 애가 젤다지?
  남동우/BOJ4485.java
Labels: Select-Hard, SOLVE, BOJ

#159 [BOJ] 2531. 회전 초밥
  박사랑/BOJ2531.java
Labels: SOLVE, BOJ, Essential-Easy

#156 [BOJ] 2531. 회전 초밥
  여아정/boj_2531.java
  여아정/pg_12913_땅따먹기.java
Labels: SOLVE, BOJ, Essential-Easy

#154 [BOJ] 2531. 회전 초밥
  현수연/BOJ2531.java
Labels: SOLVE, BOJ, Essential-Easy

#164 [PG] 12913. 땅따먹기
  여아정/pg_12913_땅따먹기.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#155 [PG] 12913. 땅따먹기
  남동우/PG12913.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#166 [PG] 12913. 땅따먹기
  PG12913.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#167 [PG] 12913. 땅따먹기
  박사랑/PG12913.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#157 [BOJ] 2531. 회전 초밥
  임수빈/boj2531.java
Labels: SOLVE, BOJ, Essential-Easy

#158 [BOJ] 4485. 녹색 옷 입은 애가 젤다지?
  임수빈/boj4485.java
Labels: Select-Hard, SOLVE, BOJ

#160 [PG] 12913. 땅따먹기
  임수빈/pg12913.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#161 [PG] 12913. 땅따먹기
  이수민/PG_12913.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#162 [PG]12913. 땅따먹기
  soomin_kim/BOJ_S1303.java
  soomin_kim/PG_12913.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#165 [PG] 12913. 땅따먹기
  황윤정/PG12913.java
Labels: PROGRAMMERS, SOLVE, Essential-Easy

#168 [BOJ] 1303. 전쟁 - 전투
  임수빈/boj1303.java
Labels: SOLVE, BOJ, Essential-Easy

#174 [BOJ]1303. 전쟁 - 전투
  soomin_kim/BOJ_S1303.java
Labels: SOLVE, BOJ, Essential-Easy

#172 [BOJ] 1303. 전쟁 - 전투
  정수빈/BOJ1303.java
Labels: SOLVE, BOJ, Essential-Easy

#171 [BOJ] 1303. 전쟁 - 전투
  남동우/BOJ1303.java
Labels: SOLVE, BOJ, Essential-Easy

#173 [BOJ] 1303. 전쟁 - 전투
  박사랑/BOJ1303.java
Labels: SOLVE, BOJ, Essential-Easy

#176 [BOJ] 1303. 전쟁 - 전투
  이수민/BOJ_1303.java
Labels: SOLVE, BOJ, Essential-Easy

#169 [BOJ] 1303. 전쟁 - 전투
  황윤정/BOJ1303.java
Labels: SOLVE, BOJ, Essential-Easy

#170 [BOJ] 1303. 전쟁 - 전투
  여아정/boj_1303.java
Labels: SOLVE, BOJ, Essential-Easy

#175 [BOJ] 1303. 전쟁 - 전투
  현수연/BOJ1303.java
Labels: SOLVE, BOJ, Essential-Easy

#177 [BOJ] 2841. 외계인의 기타 연주
  정수빈/BOJ2841.java
Labels: SOLVE, BOJ, Essential-Easy

#182 [BOJ] 2841. 외계인의 기타 연주
  남동우/BOJ2841.java
Labels: SOLVE, BOJ, Essential-Easy

#185 [BOJ] 2841. 외계인의 기타 연주
  이수민/BOJ_2841.java
Labels: SOLVE, BOJ, Essential-Easy

#178 [BOJ] 2841. 외계인의 기타 연주
  임수빈/boj2841.java
Labels: SOLVE, BOJ, Essential-Easy

#184 [BOJ]2841. 외계인의 기타 연주
  soomin_kim/BOJ_S2841.java
Labels: SOLVE, BOJ, Essential-Easy

#181 [BOJ] 2841. 외계인의 기타 연주
  여아정/BOJ2841.java
Labels: SOLVE, BOJ, Essential-Easy

#180 [BOJ] 2841. 외계인의 기타 연주
  황윤정/BOJ2841.java
Labels: SOLVE, BOJ, Essential-Easy

#186 [BOJ] 1890. 점프
  남동우/BOJ1890.java
Labels: SOLVE, BOJ, Essential-Easy

#179 [BOJ] 2841. 외계인의 기타 연주
  박사랑/BOJ2841.java
Labels: SOLVE, BOJ, Essential-Easy

#189 [BOJ] 17144. 미세먼지 안녕!
  남동우/BOJ17144.java
Labels: Select-Hard, SOLVE, BOJ

#190 [BOJ] 1890. 점프
  임수빈/boj1890.java
Labels: SOLVE, BOJ, Essential-Easy

#191 [BOJ] 1890. 점프
  정수빈/BOJ1890.java
  정수빈/PG12913.java
Labels: SOLVE, BOJ, Essential-Easy

#201 Revert "[BOJ] 1890. 점프"
  이수민/BOJ_1890.java
  이수민/BOJ_6236.java
Labels: SOLVE, BOJ, Essential-Easy

#187 [BOJ] 1890. 점프
  박사랑/BOJ1890.java
Labels: SOLVE, BOJ, Essential-Easy

#199 [BOJ] 6236. 용돈 관리
  임수빈/boj6236.java
Labels: SOLVE, BOJ, Essential-Easy

#193 [BOJ] 1890. 점프
  여아정/BOJ1890.java
Labels: SOLVE, BOJ, Essential-Easy

#195 [BOJ] 1890. 점프
  황윤정/BOJ1890.java
Labels: SOLVE, BOJ, Essential-Easy

#200 [BOJ] 6236. 용돈 관리
  황윤정/BOJ6236.java
Labels: SOLVE, BOJ, Essential-Easy

#198 [BOJ] 6236. 용돈 관리
  정수빈/BOJ6236.java
Labels: SOLVE, BOJ, Essential-Easy

#194 [BOJ] 1890. 점프
  현수연/BOJ1890.java
Labels: SOLVE, BOJ, Essential-Easy

#212 [BOJ] 1342. 행운의 문자열
  황윤정/BOJ1342.java
Labels: SOLVE, BOJ, Essential-Easy

#214 [BOJ]1342. 행운의 문자열
  soomin_kim/BOJ_S1342.java
Labels: SOLVE, BOJ, Essential-Easy

#211 [BOJ] 1342. 행운의 문자열
  여아정/boj_1342.java
Labels: SOLVE, BOJ, Essential-Easy

#210 [BOJ] 6236.용돈 관리
  여아정/boj_6236.java
Labels: SOLVE, BOJ, Essential-Easy

#196 [BOJ] 6236. 용돈 관리
  남동우/BOJ6236.java
Labels: SOLVE, BOJ, Essential-Easy

#207 [BOJ]1342. 행운의 문자열
  남동우/BOJ1342.java
Labels: SOLVE, BOJ, Essential-Easy

#213 [BOJ]1027. 고층 건물
  남동우/BOJ1027.java
Labels: Select-Hard, SOLVE, BOJ

#217 [BOJ] 1342. 행운의 문자열
  이수민/BOJ_1342.java
Labels: SOLVE, BOJ, Essential-Easy

#209 [BOJ] 6236. 용돈 관리
  이수민/BOJ_6236.java
Labels: SOLVE, BOJ, Essential-Easy

#204 [BOJ] 1342. 행운의 문자열
  박사랑/BOJ1342.java
Labels: SOLVE, BOJ, Essential-Easy

#205 [BOJ] 1342. 행운의 문자열
  임수빈/boj1342.java
Labels: SOLVE, BOJ, Essential-Easy

#219 [BOJ] 14889. 스타트와 링크
  황윤정/BOJ14889.java
Labels: SOLVE, BOJ, Essential-Easy

#206 [BOJ] 1342. 행운의 문자열
  정수빈/BOJ1342.java
Labels: SOLVE, BOJ, Essential-Easy

#222 [BOJ] 14889. 스타트와 링크
  이수민/BOJ_14889.java
Labels: SOLVE, BOJ, Essential-Easy

#221 [BOJ] 14889. 스타트와 링크
  여아정/boj_14889.java
Labels: SOLVE, BOJ, Essential-Easy

#220 [BOJ] 14889. 스타트와 링크
  박사랑/BOJ14889.java
Labels: SOLVE, BOJ, Essential-Easy

#224 [BOJ]14889. 스타트와 링크
  soomin_kim/BOJ_S14889.java
Labels: SOLVE, BOJ, Essential-Easy

#231 [BOJ] 1406. 에디터
  황윤정/BOJ1406.java
Labels: SOLVE, BOJ, Essential-Easy

#223 [BOJ] 14889. 스타트와 링크
  남동우/BOJ14889.java
Labels: SOLVE, BOJ, Essential-Easy

#227 [BOJ] 11779. 최소비용 구하기 2
  남동우/BOJ11779.java
Labels: Select-Hard, SOLVE, BOJ

#225 [BOJ] 14889. 스타트와 링크
  임수빈/boj14889.java
Labels: SOLVE, BOJ, Essential-Easy

#228 [BOJ] 1406. 에디터
  임수빈/boj1406.java
Labels: SOLVE, BOJ, Essential-Easy

#226 [BOJ] 1406. 에디터
  정수빈/BOJ1406.java
Labels: SOLVE, BOJ, Essential-Easy

#234 [BOJ]1406. 에디터
  soomin_kim/BOJ_S1406.java
Labels: SOLVE, BOJ, Essential-Easy

#232 [BOJ] 1406. 에디터
  여아정/boj_1406.java
Labels: SOLVE, BOJ, Essential-Easy

#229 [BOJ] 1406. 에디터
  남동우/BOJ1406.java
Labels: SOLVE, BOJ, Essential-Easy

#233 [BOJ] 1406. 에디터
  이수민/BOJ_1406.java
Labels: SOLVE, BOJ, Essential-Easy

#230 [BOJ] 1406. 에디터
  박사랑/BOJ1406.java
Labels: SOLVE, BOJ, Essential-Easy

#235 [BOJ] 1406. 에디터
  현수연/BOJ1406.java
Labels: SOLVE, BOJ, Essential-Easy

#238 [BOJ] 14501. 퇴사
  임수빈/boj14501.java
Labels: SOLVE, BOJ, Essential-Easy
